VITE_APPWRITE_URL="https://fra.cloud.appwrite.io/v1"
VITE_APPWRITE_PROJECT_ID="68446e9100249eae0156"
VITE_APPWRITE_DATABASE_ID="68446f3e001c27b612aa"
VITE_APPWRITE_COLLECTION_ID="68446f8800005e1ebd74"
VITE_APPWRITE_BUCKET_ID="684669fa003d7a592153"
